
<table datatable class="table table-hover table-bordered table-striped">
    <thead class="thead-dark">
      <th class="text-center">#</th>
      <th class="text-center">{{'EducationLevelName(EN.)' | translate}}</th>
      <th class="text-center">{{'EducationLevelName(AR.)' | translate}}</th>
      <th class="text-center">{{'Edit' | translate }}</th>
      <th class="text-center">{{'Delete' | translate }}</th>
    </thead>
    <tbody>
      <ng-container >
        <tr *ngFor="let item of this.educationLevelsComponent.EducationLevels;index as i">
          <th scope="row" class="text-center">{{i + 1}}</th>
          <th class="text-center">{{item.educationLevelNameE}}</th>
          <th class="text-center">{{item.educationLevelNameA}}</th>
          <th class="text-center">
            <button type="button" class="custom-edit-blue-btn" (click)="editItem(item)" placement="top">
              <i class="fas fa-edit"></i>
            </button>
          </th>
          <td class="text-center">
            <button type="button" class="custom-edit-cancel-btn" (click)="OnDelete(item)" placement="top">
              <i class="far fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="arrLength == 0">
        <tr>
          <td colspan="8" class="align-middle text-center">
            <span class="font_bold"> {{ 'NoDataFound' | translate }} .</span>
          </td>
        </tr>
      </ng-container>
  
    </tbody>
  </table>